body {
  font-family: UXVlcRyaWFsLVJlZVsYXIudHRm;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
@font-face {
  font-family: "UXVlcRyaWFsLVJlZVsYXIudHRm";
  src: url("https://w.ladicdn.com/5e51ff6161a254079fc6d2ed/questrial-regular-20230618103319-qwd69.ttf")
    format("truetype");
}
@font-face {
  font-family: "RJlYXRWaWJlcySZWdbGFyLnRZg";
  src: url("https://w.ladicdn.com/5e51ff6161a254079fc6d2ed/greatvibes-regular-20231009130949-dckjd.ttf")
    format("truetype");
}
.head-banner {
  background-image: url("./image/hinh-top-2.JPG");
  height: 700px;
  background-position: center;
  background-size: 100%;
}
.name-a,
.name-e {
  font-family: RJlYXRWaWJlcySZWdbGFyLnRZg;
  font-size: 80px;
  color: #fff;
  text-shadow: rgb(0, 0, 0) 1px 2px 3px;
}
.name-a {
  position: relative;
  top: 130px;
  left: 10px;
}
.name-e {
  top: 155px;
  left: 85px;
  position: relative;
}

.traitim-t {
  background-image: url("https://w.ladicdn.com/s400x400/5e51ff6161a254079fc6d2ed/may-tinh-10111111111-20231009133927-cj_yy.png");
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: 100%;
  position: relative;
  top: 130px;
  left: 170px;
}
.date-head {
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) 1px 2px 3px;
  font-size: 22px;
  position: relative;
  top: 170px;
  left: 80px;
}
.container.info-box-1 {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.info-1-box-1 {
  width: 40%;
  position: relative;
  top: -165px;
}

.info-1-box-1 img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.img-info-1-box-1 {
  background: #fff;
  padding: 10px;
  border-radius: 12px;
}

.info-2-box-1 {
  width: 50%;
}

.box-card {
  display: grid;
  text-align: center;
  gap: 20px;
  margin-top: 80px;
  border: 2px solid;
  padding: 40px 0;
  border-radius: 24px;
}

.box-card span {
  font-weight: 600;
}
.name-1-info-2-box-1,
.name-2-info-2-box-1 {
  font-family: RJlYXRWaWJlcySZWdbGFyLnRZg;
  color: rgb(198, 48, 44);
  text-align: center;
  font-size: 45px;
}
.traitim-2 {
  background-image: url(https://w.ladicdn.com/s400x400/5e51ff6161a254079fc6d2ed/may-tinh-9111-20231009133927-br-wb.png);
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: 100%;
}
.name-two {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.box-1 {
  background-color: rgb(254, 228, 228);
}

.box-1-1 {
  background-image: url(https://w.ladicdn.com/s700x1200/5e51ff6161a254079fc6d2ed/time-love-20231009123132--_3ff.png);
}
.box-2 {
  background-image: url(https://w.ladicdn.com/s700x1200/5e51ff6161a254079fc6d2ed/time-love-20231009123132--_3ff.png);
}
